    <div class="container" id="cancel_container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#cancel" data-toggle="tab">Cancel Reservation</a>
            </li>
        </ul>

        <div id="content_cancel" class="tab-content">
            <div class="tab-pane active" id="edit/cancel">


                <form role="form">
                    <div class="alert alert-success" display="none" id="cancelSuccess" role="alert">

                    </div>
                

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="reserveID">Reservation ID:</label>
                                    <input type="text" class="form-control" id="reserveID" placeholder="Enter reservation ID">
                                </div>

                            </div>
                        </div>

                    </div>
                    <button class="btn btn-default" type="button" id="cancelbtn" aria-expanded="true">
                        Cancel
                    </button>


                </form>
            </div>
        </div>
    </div>
