
<!-- owner login -->
    <div class="container" id="login_container">

        <div id="content_login" class="tab-content">
            <div class="tab-pane active" id="login">


                <form role="form">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="loginID">User ID: </label>
                                    <input type="text" class="form-control" id="loginID" placeholder="Enter your login ID: ">
                                </div>

                            </div>
                        </div>
                    <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="password">Password: </label>
                                    <input type="text" class="form-control" id="password" placeholder="Enter your password: ">
                                </div>

                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button"  aria-expanded="true">
                        Login
                    </button>


                </form>
            </div>
        </div>
    </div>
