
<!-- App Settings -->
    <div class="container" >

        <div  class="tab-content">
            <div class="tab-pane active" >
                <ul class="nav nav-tabs nav-justified">
                    <li>
                        <a href="#tab-owner" data-toggle="tab">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="tab-text">App Settings</span>
                        </a>
                    </li>

                </ul>


                <form role="form">
                    <div class="form-group">
                        <label for="checkAssain">Auto Assign Tables:</label>
                        <input type="checkbox" class="form-control" id="checkAssain" checked="true">
                    </div>

                    <button class="btn btn-default" type="button" id="settingsBtn"  aria-expanded="true">
                        Edit Settings
                    </button>

                </form>
            </div>
        </div>
    </div>