
<!-- Contacts List  -->
    <div class="container" id="contactsContainer">

        <div id="contacts" class="tab-content">
            <div class="tab-pane active" >
                <ul class="nav nav-tabs nav-justified">
                    <li>
                        <a href="#tab-owner" data-toggle="tab">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="tab-text">Contact List</span>
                        </a>
                    </li>

                </ul>

                <form role="form">
                    <div id="here_table_contact"></div>
  <!-- 
                    <table class="table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>CNF#</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Contact</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>DC83CD</td>
                            <td>Sabidur Rahman</td>
                            <td>05/02/2015 1:30PM</td>
                            <td>603-843-5634</td>
                        </tr>
                        </tbody>
                    </table>
        -->
                    <button class="btn btn-default" type="button" id="loginBtn"  aria-expanded="true">
                        Next
                    </button>


                </form>
            </div>
        </div>
    </div>